@*******************************************************************************************************
    //  Home.cshtml - Gbtc
    //
    //  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
    //
    //  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
    //  the NOTICE file distributed with this work for additional information regarding copyright ownership.
    //  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
    //  file except in compliance with the License. You may obtain a copy of the License at:
    //
    //      http://opensource.org/licenses/MIT
    //
    //  Unless agreed to in writing, the subject software distributed under the License is distributed on an
    //  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
    //  License for the specific language governing permissions and limitations.
    //
    //  Code Modification History:
    //  ----------------------------------------------------------------------------------------------------
    //  01/22/2016 - J. Ritchie Carroll
    //       Generated original version of source code.
    //
    //*****************************************************************************************************@
@using GSF
@using GSF.Web.Model
@using MiPlan.Models
@model AppModel
@{
    DataContext dataContext = Model.DataContext;
   

}
<script src="/Scripts/jquery-2.2.0.js"></script>

<script src="/Scripts/bootstrap.min.js"></script>
<script src="/Scripts/ie10-viewport-bug-workaround.js"></script>
<script src="/Scripts/respond.js"></script>
<script src="/Scripts/bootstrap-datepicker.min.js"></script>
<script src="/Scripts/bootstrap-toolkit.min.js"></script>

<script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>

<script src="/Scripts/gsf.web.client.js"></script>


<script src="/signalr/hubs"></script>
<script src="/Scripts/Site.js"></script>

<script src="/Scripts/knockout-3.4.0.debug.js"></script>
<script src="/Scripts/knockout.mapping-latest.debug.js"></script>
<script src="/Scripts/knockout.validation.min.js"></script>
<script src="/Scripts/ko-reactor.min.js"></script>
<script src="/Scripts/ko.observableDictionary.js"></script>
<script src="/Scripts/js.cookie.js"></script>

<div class="row">
    <div class="col-md-6">
        <p>&nbsp;</p>
        <table>
            <tr>
                <td colspan="4"><b>Active Plans</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="right">&nbsp;Today&nbsp;</td>
                <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;(T-7)</td>
                <td align="right">&nbsp;&nbsp;&nbsp;&nbsp;(T-14)</td>
            </tr>

            <tr>
                <td>Total Open Plans</td>
                <td align="right">@ViewBag.todaysOpenPlansCount</td>
                <td align="right">@ViewBag.weekOpenPlansCount</td>
                <td align="right">@ViewBag.twoWeekOpenPlansCount</td>
            </tr>

            <tr>
                <td>Completed Plans</td>
                <td align="right">@ViewBag.todaysCompletedPlansCount</td>
                <td align="right">@ViewBag.weekCompletedPlansCount</td>
                <td align="right">@ViewBag.twoWeekCompletedPlansCount</td>
            </tr>

        </table>

        <p>&nbsp;</p>
        <table>
            <tr>
                <td colspan="3"><b>Year-To-Date</b></td>
            </tr>
            <tr>
                <td align="left">Plans Started</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDPlansStarted</td>
            </tr>
            <tr>
                <td align="left">Actions Completed&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDActionsCompleted</td>
            </tr>
            <tr>
                <td align="left">Plans Closed&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDPlansClosed</td>
            </tr>

        </table>
        <p>&nbsp;</p>
        <table>
            <tr>
                <td colspan="3"><b>YTD Action Item Alarms</b></td>
            </tr>
            <tr>
                <td align="left">Warning</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDWarnings</td>
            </tr>
            <tr>
                <td align="left">Alarm</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDAlarms</td>
            </tr>
            <tr>
                <td align="left">Critical Alarm</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDCriticalAlarms</td>
            </tr>
            <tr>
                <td align="left">Late&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">@ViewBag.YTDLateActions</td>
            </tr>
        </table>
        <p>&nbsp;</p>

        <p>&nbsp;</p>
        <table>
            <tr>
                <td colspan="2"><b>My BU Plans</b></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td>
                    <table>
                        <tr>
                            <td align="left">Open Plans</td>
                            <td>&nbsp;&nbsp;</td>
                            <td align="right">@ViewBag.MyOpenPlans</td>
                        </tr>
                        <tr><td colspan="3">&nbsp;</td></tr>
                        <tr>
                            <td align="left">Open Action Items</td>
                            <td>&nbsp;&nbsp;</td>
                            <td align="right">@ViewBag.MyOpenAction</td>
                        </tr>
                        <tr>
                            <td align="left">Late Action Items</td>
                            <td>&nbsp;&nbsp;</td>
                            <td align="right">@ViewBag.MyLateAction</td>
                        </tr>


                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <p>&nbsp;</p>
        <table>
            <tr><td colspan="4"><b>Action Items in Alarm</b></td></tr>
            <tr>
                <td align="left" width="16">&nbsp;</td>
                <td align="center">&nbsp;<u>ToGo Days</u>&nbsp;</td>
                <td align="center">&nbsp;<u>&nbsp;&nbsp;Type&nbsp;&nbsp;</u>&nbsp;</td>
                <td align="center"><u>&nbsp;&nbsp;&nbsp;&nbsp;ID&nbsp;&nbsp;&nbsp;&nbsp;</u></td>
            </tr>

            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/blacklight.png" width="8" /></td>
                <td align="right">-20&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>


            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/blacklight.png" width="8" /></td>
                <td align="right">-3&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>


            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/redlight.png" width="8" /></td>
                <td align="right">2&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>

            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/redlight.png" width="8" /></td>
                <td align="right">3&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>

            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/redlight.png" width="8" /></td>
                <td align="right">4&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>
            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/amberlight.png" width="8" /></td>
                <td align="right">5&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>
            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/amberlight.png" width="8" /></td>
                <td align="right">6&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>
            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/amberlight.png" width="8" /></td>
                <td align="right">7&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>
            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/amberlight.png" width="8" /></td>
                <td align="right">8&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>
            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/amberlight.png" width="8" /></td>
                <td align="right">9&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>
            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/amberlight.png" width="8" /></td>
                <td align="right">9&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>
            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/amberlight.png" width="8" /></td>
                <td align="right">9&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>
            <tr>
                <td align="left" width="16"><img src="~/Images/StatusLights/Small/amberlight.png" width="8" /></td>
                <td align="right">10&nbsp;&nbsp;</td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>
        </table>

        <p>&nbsp;</p>
        <table>
            <tr><td colspan="3" align="left"><b>Plans Added Today</b></td></tr>
            <tr>
                <td align="center">&nbsp;&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;ID&nbsp;&nbsp;&nbsp;&nbsp;</u>&nbsp;&nbsp;</td>
                <td align="center">&nbsp;&nbsp;<u>&nbsp;&nbsp;Platform&nbsp;&nbsp;</u>&nbsp;&nbsp;</td>
                <td align="center">&nbsp;&nbsp;<u>&nbsp;&nbsp;Vendor&nbsp;&nbsp;</u>&nbsp;&nbsp;</td>
            </tr>

            <tr>
                <td align="center"><a href="#temp">TVA-16-534</a></td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>

            <tr>
                <td align="center"><a href="#temp">TVA-16-535</a></td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>

            <tr>
                <td align="center"><a href="#temp">TVA-16-536</a></td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>

            <tr>
                <td align="center"><a href="#temp">TVA-16-537</a></td>
                <td align="center">Plan ID</td>
                <td align="center">BU Abvr</td>
            </tr>

    </div>

</div>

<script>
    console.log();
        

    </script>


